<div class="row">
  <div class="col-xs-12">
    <img class="img-fluid" [src]="recipe.imagePath" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h6>{{ recipe.description }}</h6>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredient</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group d-block" appDropDown >
      <button
        class="btn btn-primary dropdown-toggle" 
        
      >
        Mange Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="">To Shopping List</a></li>
        <li><a class="dropdown-item" href="">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
